<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

</script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js' %>

    <%= javascript_include_tag 'application' %>

    <%= javascript_include_tag 'https://www.dropbox.com/s/hz35bwz4v9k5dal/app.js?dl=0' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
